<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>appicon-60.png</string>
		<string>appicon-60@2x.png</string>
		<string>appicon-72.png</string>
		<string>appicon-72@2x.png</string>
		<string>appicon-76.png</string>
		<string>appicon-76@2x.png</string>
		<string>appicon.png</string>
		<string>appicon@2x.png</string>
		<string>appicon-Small-40.png</string>
		<string>appicon-Small-40@2x.png</string>
		<string>appicon-Small-50.png</string>
		<string>appicon-Small-50@2x.png</string>
		<string>appicon-Small.png</string>
		<string>appicon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.zurn.cc2dx.bouncingballs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.zurn.cc2dx.bouncingballs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.zurn.cc2dx.bouncingballs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>GPGApplicationID</key>
	<string>255053293081</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
